
<mat-tab-group>
  <mat-tab label="Personal information">
    <ng-template matTabContent>
     <app-student-personal-info> </app-student-personal-info>
      </ng-template>
    </mat-tab>
  <mat-tab label="Enrollment">
    <ng-template matTabContent>
    <app-student-enrollment></app-student-enrollment>
     </ng-template>
  </mat-tab>
  <mat-tab label="Unenrollment">
    <ng-template matTabContent>
     <app-student-unenrollment></app-student-unenrollment>
     </ng-template>
    </mat-tab>
</mat-tab-group>
