.main{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.edit-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.edit-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}
