<div class="main">
<form class="edit-form" [formGroup]="formGroup">
  <div class="edit-column">
    <mat-form-field appearance="fill">
      <mat-label>FirstName</mat-label>
      <input matInput placeholder="FirstName" formControlName="firstName" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" />
    </mat-form-field>
  </div>
  <div class="edit-column">
    <mat-form-field appearance="fill">
      <mat-label>LastName</mat-label>
      <input matInput placeholder="LastName" formControlName="lastName" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Phone" formControlName="phone" />
    </mat-form-field>
  </div>
</form>

<button mat-button color="primary" (click)="save()">Save</button>

</div>
